.container {
    padding: 20px;

}

.title {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
}

.content {
    text-align: center;
}

.input {
    height: 40px;
    width: 400px;
    padding: 10px;
    font-size: 30px;
    border-radius: 10px;
}

.list {
    list-style: none;
    font-size: 30px;
}

.listItem {

    display: flex;
    align-items: center;
    justify-content: space-between;

}