.btn {
    text-transform: uppercase;
    height: 50px;

    width: 100px;
    margin-left: 20px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.add {
    background-color: green;
}

.delete {
    background-color: red;
}
